/* Member's table parameters */
.memberstable{
    border: aliceblue;
    margin: 10px;
    border-left-style: groove;
    border-right-style: groove;
    align: 3 ;
    background-color: white;
    font-family: "Times New Roman";
    font-size: 15px;
    width: 99%;
    text-align: center;
    align-content: center;
}
